# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
develop-eggs/
dist/
.eggs/
lib/
lib64/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# VS Code settings
.vscode/

# Pytest
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Python virtual environment
env/
venv/
ENV/
env.bak/
venv.bak/

# Environments
.env
.env.local
.env.production

# Editor directories and files
.idea/
*.sublime-project
*.sublime-workspace

# PyCharm specific files
.idea/
*.iml

# Miscellaneous
*.log
*.pot
*.py[cod]
*.db
*.sqlite3
*.tgz
*.tar.gz

# Backup files
*~
